body{
    background:  url(./images/bg-top.svg) no-repeat fixed top right,url(./images/bg-bottom.svg) no-repeat fixed bottom left;
   
    background-color: hsl(240, 78%, 98%);
    font-family: 'Montserrat', sans-serif;
 }
 
 .container{
     display: flex;
     flex-direction: column;
     
 }
 
 header{
     display: flex;
     flex-direction: column;
     align-self: center;
     text-align: center;
     margin-top: 30px;
     margin-bottom: 70px;
     color: hsl(233, 13%, 49%);
 }
 
 header .annually-monthly{
     display: flex;
     flex-direction: row;
     color:hsl(236, 25%, 52%);
     margin-top: 40px;
 
 }
  .margin-top-10{
     margin-top: 10px;
 }
 
 
 .toggler{
     background-color:hsl(236, 72%, 79%);
     width:60px;
     height: 30px;
     border-radius: 20px;
     margin:0px 30px;
     padding: 5px;
     
 
 }
 .toggler input{
     width: 0;
     height: 0;
     opacity: 0;
 }
  .toggler .circle{
     width:30px;
     height: 30px;
     border-radius: 100%;
     background-color: white;
     float: right;
 }
 .toggler input:checked + .circle{
     
     float: left;
     
 }
 .toggler input:checked + .monthly{
     
    display: none;
     
 }
 
 .toggler:hover {
     background-color:hsl(236, 69%, 86%);
     cursor: pointer;
 }
 
 /* .box .monthly{
     display: none;
 } */
 .slide-boxes{
     display: flex;
     flex-direction: row;
     justify-content: center;
     
 }
 .slide-boxes .box{
     width:340px;
     
     height:500px;
     text-align: center;
     border-radius: 20px;
     font-size: 15px;
     margin-top: 27px;
     background-color: white;
     color: hsl(233, 13%, 49%);
     
     box-shadow: 0 6px 20px 0   hsl(236, 72%, 79%);
 
     
 } 
 /* .slide-boxes .basic,.master{
     background-color: white;
     color: hsl(233, 13%, 49%);
     
     box-shadow: 0 6px 20px 0   hsl(236, 72%, 79%);
 
 } */
 
 /* .slide-boxes .professional{
     width:340px;
     height:550px;
     background-image:linear-gradient(135deg,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
     text-align: center;
     border-radius: 20px;
     color: white;
 } */
 
 .padding-top-30{
     padding-top: 30px;
 }
 
 .margin-bottom-40{
     margin-bottom: 40px;
 
 }
 .price {
     font-size: 70px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     color: hsl(232, 13%, 33%);
 }
 /* .slide-boxes .professional .price{
     color:white;
     
 } */
 .dollar{
     font-size: 40px;
     align-self: center;
     margin-right: 5px;
 
 }
 button{
     width:100%;
     height:50px;
     margin-top: 10px;
     background-image:linear-gradient(90deg,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
     border:none;
     border-radius: 4px;
     color:white;
     font-size: 15px;
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: 1px;
 } 
 button:hover{
     cursor: pointer;
     color:hsl(236, 72%, 79%);
     background-color: white;
     background-image:linear-gradient(90deg,white,white);
     border:1px solid hsl(236, 72%, 79%);
  }
 
 /* .professional-button{
     background-image:linear-gradient(90deg,white, white);
     color:hsl(237, 63%, 64%);
 } */
 /* .professional-button:hover{
     color:white;
     cursor: pointer;
     background-image:linear-gradient(90deg,hsl(237, 63%, 64%) , hsl(237, 63%, 64%));
     border:1px solid white;
  } */
 

  .basic:hover {
    width:340px;
    height:550px;
    background-image:linear-gradient(135deg,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    text-align: center;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom:20px;
  }
  .basic:hover .price{
      color: white;

  }
  .professional:hover {
    width:340px;
    height:550px;
    background-image:linear-gradient(135deg,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    text-align: center;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom:20px;
  }
  .professional:hover:hover .price{
      color: white;

  }
  .master:hover {
    width:340px;
    height:550px;
    background-image:linear-gradient(135deg,hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    text-align: center;
    border-radius: 20px;
    color: white;
    position: relative;
    bottom:20px;
  }
  .master:hover .price{
      color: white;

  }
 ul{
     text-align: center;
 }
 ul li{
     list-style:none;
     display: inline-block;
     padding: 25px 0px;
     width: 90%;
     border-bottom: 1px solid hsl(236, 72%, 79%);
     font-weight: bold;
     
 }
 /* .professional ul li{
     border-bottom: 1px solid white;
 
 } */
 
 .font-size-20{
         font-size: 20px;
 }
 ul li:nth-child(1){
         margin-top: 10px;
 }
 ul li:nth-child(5){
        border:none;
        margin-top:10px ;
 }
   @media(max-width:1032px){

    
   
    .slide-boxes{
        flex-direction: column;
        align-items: center;
        
    }
    .slide-boxes .master{
        margin-bottom: 20px;
        margin-top: 40px;
    }
    /* .slide-boxes .professional{
        box-shadow: 0 6px 20px 0   hsl(236, 72%, 79%);
    } */

 } 
 
 @media (max-width:777px) {
     body{
        
         
         background-image:  url(./images/bg-top.svg) ;
         
         background-size: 79% 670px;
        
        background-position: left 280% top -50px;
        
        background-color: hsl(240, 78%, 98%);

     }
  
     
     
 }
  
  
